<div class="container">


    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#!&view=ad.list" data-route-remove="true" href="#">Home</a></li>
			{{#each category.ancestors}}
            <li><a href="#!&view=ad.list&category={{str_id}}" data-route-remove="true" href="#">{{name}}</a></li>
			{{/each}}
            <li><a href="#!&view=ad.list&category={{category.str_id}}" data-route-remove="true" href="#">{{category.name}}</a></li>
        </ol>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2 class="pull-left">{{name}}</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-8">

            <div class="thumbnail">
                <img src="http://placehold.it/700x400" alt="">
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">


            <div class="thumbnail">

                <h3 class="pull-left">
					{{#if negotiable_price}}
						Cena dohodou
					{{else}}
						Cena: {{price}} Kč
					{{/if}}
				</h3>

                <a href="" class="btn btn-primary btn-lg pull-right">Kontaktovat</a>
                <div class="clearfix"></div>


                <h4>Prodávající:</h4>
                {{#if contact.name}}{{contact.name}}<br>{{/if}}
                {{#if contact.place}}{{contact.place}}<br>{{/if}}
                {{#if contact.phone}}{{contact.phone}}<br>{{/if}}

                <span class="glyphicon glyphicon-time"></span> {{created}} <span class="glyphicon glyphicon-eye-open"></span> zobrazeno 250x

            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            <img data-src="holder.js/350x400/text:Reklama" alt="...">
        </div>


        <div class="col-xs-12 col-sm-8 col-md-8">
			{{description}}
        </div>


    </div>
</div>