<a href="{{link}}" data-route="view=ad.detail&id={{id}}" data-route-remove="true">
<div class="col-xs-12 col-sm-6 col-md-4" style="height: 300px;">
	<div class="thumbnail">
		<img src="{{image_url}}">

		<div class="caption">

			<h4>{{name}}</h4>
            <small>#{{id}}</small>
			<span class="text-muted">{{district}}</span>
			<span class="pull-right"><strong>{{price}} Kc</strong></span>
		</div>
	</div>
</div>
</a>