<ul class="menu">

	{{#each children}}
	<li>
        <a href="#!&view=ad.list&category={{strId}}" class="list-group-item category" {{data 'category'}} {{saveElement}} href="#">{{name}} {{#if {{newSince}}}}<span class="badge">*</span>{{/if}}</a>
		{{> controls/menu/templates/menu}}
    </li>
	{{/each}}

</ul>

