<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	{{{state}}}
</head>
<body>

<div id="content">
	{{{html}}}
</div>

<script src="/build/client.js"></script>
</body>
</html>