data/composer.lock
data/vendor/*
.vagrant/*
.idea
.idea/*
.DS_Store
data/web/bundles/
data/app/bootstrap.php.cache
data/app/cache/*
data/app/config/**/parameters.yml
!data/app/config/common/parameters.yml
data/app/logs/*
!data/app/cache/.gitkeep
!data/app/logs/.gitkeep
data/vendor/
data/bin/

data/appjs/node_modules/*
data/appjs/build/*
npm-debug.log