<input type="text" class="input form-control{{#if place.reference}} hidden{{/if}}" placeholder="staci zdata par prvnich pismen do naseptavace">
{{#if place.reference}}

	<p>
		<span class="glyphicon glyphicon-map-marker"></span>
		<span>{{place.formatted_address}}</span>
		<a class="clear btn btn-xs btn-danger">změnit</a>
	</p>

{{/if}}
<div class="result{{^if place.reference}} hidden{{/if}}"></div>
