/** http://blog.trello.com/heres-the-official-trello-css-guide/ **/


@linkColor: #337ab7;

@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
@import "shared.less";
@import "menu.less";
@import "suggester.less";


#wrap {
	min-height: 100%;
	height: auto;
	margin: 60px auto 0;
}
