{{#if children.length}}
<ul>

	{{#children}}
	<li class="category"  {{data 'category'}} {{saveElement}} >
        <a class="list-group-item" href="#">{{name}} <span class="badge">{{newSince}}</span></a>
		{{> controls/menu/menu}}
    </li>
	{{/children}}

</ul>
{{/if}}

