<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="form-group">
        <label>Hlavní kategorie</label>
        <select class="form-control select1">
			<option value=""></option>
			{{#each categories1}}
                <option {{data 'category'}} value="{{id}}">{{name}}</option>
			{{/each}}
        </select>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="form-group">
        <label>Podkategorie</label>
        <select class="form-control select2" {{^if categories2.length}}disabled="disabled"{{/if}}>
			<option value=""></option>
			{{#each categories2}}
				<option {{data 'category'}} value="{{id}}">{{name}}</option>
			{{/each}}
        </select>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <div class="form-group">
        <label>Přesné zařazení</label>
		<span class="help-block-inline">(Volitelné)</span>
        <select class="form-control select3" {{^if categories3.length}}disabled="disabled"{{/if}}>
			<option value=""></option>
			{{#each categories3}}
				<option {{data 'category'}} value="{{id}}">{{name}}</option>
			{{/each}}
        </select>

    </div>
</div>
<input type="hidden" name="{{inputName}}" />